$green:#0EC261;
$black:#121212;
$grey:#999;
$grey-light:#eee;
@mixin f300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin f400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin f500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}